.ace-code-editor-wrapper {
    /*height: 500px;*/
    padding-top: 50px;
    position: relative;
    box-sizing: border-box;
    background: white;
    overflow: hidden;
}

.ace-code-editor-wrapper .codeEditorOptions {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    line-height: 48px;
    background: rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: none;
    border-radius: 2px 2px 0px 0px;
    padding: 0px 10px;    
}
.ace-code-editor-wrapper .codeEditorOptions ul {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    white-space: nowrap;
}

.ace-code-editor-wrapper .codeEditorOptions ul li {
display: inline-block;
    border-right: 1px dashed rgba(0,0,0,0.3);
    padding: 0px 7px;
    vertical-align: top;
    height: 50px;
}
.ace-code-editor-wrapper .codeEditorOptions ul li .lbl {
    display: inline-block;
    height: 100%;
    font-size: 14px;
    color: #770303;
    margin-right: 10px;
    vertical-align: middle;
    text-decoration: underline;
}
.ace-code-editor-wrapper .codeEditorOptions ul li .item {
    text-decoration: none;
    font-size: 12px;
    color: rgba(0,0,0,0.8);
    margin-right: 17px;    
    height: auto;
}
.ace-code-editor-wrapper .codeEditorOptions ul li input[type='checkbox'],
.ace-code-editor-wrapper .codeEditorOptions ul li input[type='radio']{
    cursor: pointer;
    vertical-align: middle;
    margin-right: 0px;
    margin-top: 0px;
/*    width: 15px;
    height: 15px;*/
}

.ace-code-editor-wrapper .codeEditorOptions ul li input[type='text'] {
    width: 40px;
    line-height: 20px;
    text-align: center;
    border: none;
    outline: none;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 15px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}
.ace-code-editor-wrapper.embeded {
    
}
.ace-code-editor-wrapper.full-screen {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%!important;
    position: fixed;
    z-index: 99999;    
}
.ace-code-editor-wrapper .ace-code-editor {
    height:100%;
    box-sizing: border-box;
}
