/**
* @link      https://gitlab.com/nx-2/admin
* @copyright Copyright © 2017, 2018, 2022 Dimeo Ltd. under the terms of the GNU GPL, Version 3.0 (https://www.dimeo.ru/)
* @license   https://gitlab.com/nx-2/admin/-/blob/master/LICENSE.md
* @author    A. Shchepetov
*/

table thead	th a {
	position: relative;
	padding-right: 20px;
	font-family: sans-serif, FontAwesome;
	white-space: nowrap;
}
table thead	th a:after {
	position:absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 10px;
	content: "\f0dc";
}
table thead	th a.asc:after{
	content: "\f0de";
}
table thead	th a.desc:after{
	content: "\f0dd";
}
.radio-check-wrap{
	text-align: center;
	position: relative;
}
.radio-check-wrap .ajax-load{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background: url(/images/ajax-loader.gif) no-repeat center;
	display: none;
}
.radio-check-wrap input[type="checkbox"],
.radio-check-wrap input[type="radio"] {
	opacity: 0;
	width: 0px;
	height: 0px;
}
.radio-check-wrap label.radio-check-label {
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(/images/radio-check.png);
	background-position: 0px 0px;
}
.radio-check-wrap input[type="checkbox"]:checked + label.radio-check-label,
.radio-check-wrap input[type="radio"]:checked + label.radio-check-label {
	background-position: -40px 0px;
}
.radio-check-wrap.loading .ajax-load{
	display: block;
}
.fa.fa-font-20:before{
	font-size: 20px;
}
.fa.fa-font-18:before{
	font-size: 18px;
}
.flash-messages-place{
    float: left;
    margin-left: 10px;
    overflow: hidden;
}
.flash-messages-place > div {
    padding: 5px!important;
    margin-bottom: 0px!important;
    margin-top: 7px!important;
    display: inline-block;
}
/*.sidebar-menu .treeview-menu > li.selected,*/
.sidebar-menu li.selected {
	background:rgba(220, 220, 220, 0.5);
}
.sidebar-menu li.selected > a {
	background:transparent!important;
}
ul.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
	z-index: 99999!important;
}
.loading, .loading-inside{
	position: relative;
	/*padding-right: 20px;*/
}
.loading:after, .loading-inside:after{
	content: '';
	position:absolute;
	height: 100%;
	left: 100%;
	top: 0px;
	width: 20px;
	margin-left: 3px;
	background: url(/images/ajax-loader.gif) no-repeat center;
	z-index: 9999;
}
.loading-inside:after {
	height: 20px;
	top: 0px;
	right: 0px;
	left: auto;
}

.info-box.small{
	min-height: 52px;
	background: rgba(0,0,0,0.02);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);	
    margin-bottom: 10px;
}
.info-box.small .info-box-icon {
	width: 52px;
    height: 52px;
    font-size: 24px;
    line-height: 52px;
}
.info-box.small .info-box-icon i.fa{
	font-size: 24px;
}
.info-box.small .info-box-content{
	margin-left: 52px;
}
.info-box.small .info-box-content .info-box-text{
	text-transform: capitalize;
	font-weight: bold;
}
.info-box.small .info-box-content .info-box-number{
	font-size: 14px;
	font-weight: normal;
}
.grid-view {
    overflow: scroll;
}
table.table tbody tr.disabled td {
    text-decoration: line-through;
}
.site-login {
	transition: margin-top 0.6s ease;
}
.site-login .login-form-logo{
	display: block;
	float: left;
	max-height: 40px;
	margin-right: 10px;
}
.main-footer {
	position: fixed!important;
	bottom: 0px;
	height: 45px;
	width: calc(100% - 230px);
}
#aside-logo {
	position: absolute;
	top: 7px;
	right: 7px;
	/*left: -170px;*/
	width: 100px;
	/*height: 40px;*/
}

