/**
 * @link      https://gitlab.com/nx-2/admin
 * @copyright Copyright © 2017, 2018, 2022 Dimeo Ltd. under the terms of the GNU GPL, Version 3.0 (https://www.dimeo.ru/)
 * @license   https://gitlab.com/nx-2/admin/-/blob/master/LICENSE.md
 * @author    A. Shchepetov
 */

body {
/*    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 14px;
*/
}

#tabs-container__{
    width: 600px;
}
.tabs-menu__ {
    height: 30px;
    float: left;
    clear: both;
    width: 780px;
}

.tabs-menu__ li {
    height: 35px;
    line-height: 30px;
    float: left;
    border-top: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    list-style-type: none;
    border-radius: 5px 5px 0px 0px;
    color: #000;
    border-bottom: 1px solid #d4d4d1;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #d4d4d1;
}

.lefttd{
    text-align: left;width: 52%;    font-size: 14px;
}
.tabs-menu__ li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu__ li a {
    padding: 10px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
#tabs-container__ > ul > li:nth-child(1) > a > img{
    padding-top: 3px;
}

#tabs-container__ > ul > li:nth-child(2) > a > img{
    padding-top: 3px;
}

.tabs-menu__ .current a {
    color: #2e7da3;
}

.name{
    font-size: 16px;
    font-weight: 900;
}
.name-m{

}

.tab {

    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
    margin-left: 37px;
    margin-top: 20px;
}

.sum{
    font-size: 21px;
    margin-top: 20px;
}

#oform-zak {
    padding: 10px 30px;
    border: none;
    background: #0167d5;
    color: white;
    font-size: 15px;
}

.buttons2{
    margin-left: 320px;
}

.buttons{
    margin-left: 420px;
}

.red{
    color: #b4281b;
    font-size: 21px;

}

.tab-content_ {
    width: 100%;
    padding: 20px;
    display: none;
}

#tabs-container__ > ul > li:nth-child(4){
    border-right: 1px solid #d4d4d1;
}

#tab-1 {
    display: block;
}


.main-container {
    width: 780px;
    /* border: 1px solid black; */
    overflow: hidden;
    margin: 0 auto;
    margin-top: 5%;
}